.a {
  background-image: url("test1.png");
}
.b {
  background-image: url("test1.png?strip");
}
.c {
  background-image: url("test1.png?strip#butnotme");
}
.d {
  @part1: "test1.png";
  background-image: url("@{part1}?strip#butnotme");
}
.e {
  @strip: "?strip";
  background-image: url("test1.png@{strip}#butnotme");
}
